.counter {
    font-size: 1.5em;
    color: transparent;
    background: linear-gradient(90deg, #fff, #ddd, #eee) text;
    text-shadow: 0 0 0.5em #FFF;

    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}