.counter {
    font-size: 1.5em;
    background-image: linear-gradient(90deg, #FFBD35, #9A0680) text;
    background-clip: text;
    text-shadow: 0 0 0.2em #555;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}