# Feature Flags
# Controle de visibilidade de funcionalidades específicas

# Habilita a funcionalidade de Desempenho Acadêmico
# Valores: "true" ou "false"
# Padrão em produção: "false"
FEATURE_DESEMPENHO_ACADEMICO=true

# Habilita a funcionalidade de Meus Projetos
# Valores: "true" ou "false"
# Padrão em produção: "false"
FEATURE_MEUS_PROJETOS=true
